<% layout("./layout/boilerplate") %>


<div class="container-fluid">
    <div class="row">
        <div class=" col-12 text-center d-block">
            <h1>Upload users list</h1>
        </div>

        <div class="col-md-6 offset-md-3">
            <form action="/uploadusers" method="post"  enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Upload CSV record</label>
                    <input class="form-control" type="file" name="record" required>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success" >Upload</button>
                </div>
            </form>

        </div>
    </div>



</div>