<%layout("./layout/boilerplate")%>
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404 </div>
        <p class="lead text-gray-800 mb-5">Page Not Found &#x1F62C;</p>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.stack%></h4>
        </div>
        <a href="/">&larr; Back to Dashboard</a>
    </div>

</div>
<!-- /.container-fluid -->