<% layout("./layout/boilerplate") %>
<div class="ml-0 ml-lg-5 ">
    <h1 class="d-block" >Select your floor</h1>
    <img id="floormap" class="ml-0 w-100 h-50"   src="/img/building.jpg" alt="floormap">
</div>

