<% layout("./layout/boilerplate") %>
<h1 class="ml-2 d-block" >Select your floor</h1>
<div class="ml-0 ml-lg-5 text-center">

    <img id="floormap" class="text-center ml-0 w-50 h-50"   src="/img/building.jpg" alt="floormap">
</div>

